Generate-Emotional-Music/CNN_Transformer_pkl/cnnbing_Transformer_generator_seqlen_50_embed_128_epoch_59.pkl filter=lfs diff=lfs merge=lfs -text
Generate-Emotional-Music/lyrics_datasets_v3/dataset_50_v3.npy filter=lfs diff=lfs merge=lfs -text
Generate-Emotional-Music/Transformer_pkl/Transformer_generator_seqlen_50_embed_128_epoch_59.pkl filter=lfs diff=lfs merge=lfs -text
